*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #aeafb0;
}

*:focus{
  outline: none;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

button{
  border: 0;
  background: inherit;
  color: #aeafb0;
}
/* /RESET */

/* Mix */
.c_black{
  color: #191c1f;
}

.button.grey_bg{
  background-color: #e6e6e6cc;
  color: #191c1f;
}

.flex_box{
  display: flex;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 0 5px;
}
/* Mix */

header{
  justify-content: space-between;
  padding: 50px 100px;
}

nav{
  align-items: center;
}

nav li a:hover, nav button:hover{
  color: #191c1f;
}

nav > ul {
  margin: 0 15px;
}

.nav_left img{
  width: 40px;
}

nav li{
  padding:10px;
}

.li_list{
  position: relative;
}

.hidden_list{
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  box-shadow: 1px 1px 4px lightgrey;
  display: none;
  width: max-content;
}
